ethereum/build/
env/ethereum.env
env/freeton.env
node_modules/
.idea/
#Bridge.abi.json
#Bridge.code
everscale/migration-log.json
everscale/keys
settings.env
migration-log.json
ethereum/.openzeppelin
ethereum/cache
*.log
everscale/build/*.code
everscale/build/*.base64
everscale/build/*.tvc
ethereum/deployments
.DS_Store
