ethereum/build/
env/ethereum.env
env/freeton.env
node_modules/
.idea/
#Bridge.abi.json
#Bridge.code
everscale/migration-log.json
everscale/keys
settings.env
migration-log.json
artifacts/
ethereum/.openzeppelin
ethereum/cache
*.log
free-ton/build/*.code
free-ton/build/*.base64
free-ton/build/*.tvc
everscale/artifacts
ethereum/deployments
.DS_Store